<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div>
        <center>I'm the Menu</center>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
